{% extends 'base.html' %}

{%block content%}
<main class ="main main--about">
    <p>
        I am Hyunsang Joo and have been working as a translator at PUBG Studios since 2019.
    </p>
    <p>
        I hold a master's degree in English Translation and Interpretation and possess basic knwoledge about multiple programming languages including Python, C# and C++.
        I am also interested in graphics, game engines, wep development, and machine learning.
    </p>
    <p>
       My knowledge and passion for technologies is some of my strengths as a translator at a game studio. 
    </p>
</main>
{%endblock%}